* {
  box-sizing: border-box;
  margin: 0;
}

p,
ul {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}
